%html
  %body
    %h1 File uploader!
    %form(method="post" enctype='multipart/form-data' action="/1234/upload")   
      %input(type='file' name='reading')    
      %br
      %input(type='submit' value='Upload!')
